include ../titleBlock/titleBlock
.projects
    .projects__container
        .projects__title
            +titleBlock(false, 'Наши проекты')
            .projects__btns
                include projectsBtn/projectsBtn
        .projects__content
            include projectsSwiper/projectsSwiper
