@import '/src/styles/variables';
@import './projectsSwiper/style';
@import './projectsBtn/style';

.projects {
  &__container {
    padding: 35px 16px 0;

  }

  &__title {
    margin-bottom: 18px;
  }

  @media (min-width: $tabletBreakpoint) {
    &__container {
      padding: 52px 30px 0;

    }
    &__title {
      display: flex;
      justify-content: space-between;
      padding-right: 3px;
    }
    &__btns {
      margin-top: 3px;
    }

  }
  @media (min-width: $desktopBreakpoint) {
    &__container {
      padding: 0px 0px 0 30px;
    }

    &__title {
      padding-right: 26px;
      align-items: center;
      margin-bottom: 14px;
    }
    &__btns {
      margin-top: -9px;
    }
    &__content {
      margin-right: 25px;
    }

  }
  @media (min-width: $widthDesktopBreakpoint) {
    &__title {
      margin-bottom: 21px;
      padding-right: 48px;
    }
    &__content {
      margin-right: 56px;
    }
  }
}
