section.choose
    .choose__container
        .choose__info
            .choose__title-block
                +titleBlock('Почему выбирают Smart PTT ','Smart PTT – инвестиция в будущее вашей компании ')
            ul.choose__content
                li.choose__paragraph SmartPTT обеспечивает обмен голосом и данными между сотрудниками, управление их рабочими задачами и отслеживание их передвижений (как вовне, так и внутри помещений). Все переговоры и события записываются в системе, что позволяет анализировать и совершенствовать рабочие процессы в компании.
            .choose__more-btn
                +moreButton('#', true)
        .choose__swiper
            include chooseSwiper/chooseSwiper


