@import "./chooseSwiper/style";
@import '/src/styles/variables';

.choose {
  padding: 41px 13px 40px 20px;
  background-image: url('/src/images/choose/bg.png');
  background-size: cover;
  background-repeat: no-repeat;

  &__title-block {
    margin-bottom: 19px;
  }

  &__content {
    padding-right: 8px;
  }

  &__paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    color: $secondaryColor;
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__more-btn {
    margin-top: 27px;
  }

  &__swiper {
    margin-top: 39px;
  }

  @media(min-width: $tabletBreakpoint) {
    padding: 24px 33px 57px 37px;

    &__title-block {
      margin-top: 57px;
      padding-right: 95px;
    }

    &__paragraph {
      font-size: 16px;
      line-height: 28px;
    }

    &__content {
      padding-right: 31px;
      margin-top: 20px;
    }
    &__more-btn {
      margin-top: 36px;
    }
    &__swiper {
      margin-top: 32px;
    }
  }
  @media(min-width: $desktopBreakpoint) {
    height: 100vh;
    display: flex;
    padding: 164px 14px 100px 30px;
    &._active {
      .choose-swiper__item {
        animation: chooseAnimation 1s ease;
      }
    }
    &__title-block {
      margin-top: 16px;
      padding-right: 0px;
    }
    &__container {
      max-width: 1420px;
      display: flex;
      flex: 1 0 50%;
      align-items: center;
      margin: 0 auto;
    }

    &__info {
      flex: 0 0 49%;
    }
    &__content {
      margin-left: 3px;
      padding-right: 67px;
      margin-top: 28px;

    }

    &__more-btn {
      margin-top: 36px;
    }
    &__paragraph {

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    &__swiper {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0px 47px 0px 13px;
    }
  }
  @media (min-width: $widthDesktopBreakpoint) {
    padding: 213px 0px 122px 38px;
    &__paragraph {
      font-size: 18px;
      line-height: 32px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    &__info {
      flex: 1 0 47%;
    }
    &__swiper {
      margin-top: 0;
      padding: 0;
    }
  }

}

@keyframes chooseAnimation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);

  }
}
