include ../headerMenu/headerMenu
include ../logo/logo
-
    let topMenu = [
        {
            label: 'Контакты'
        },
        {
            label: 'Техподдержка',
            drop: [
                {

                    links: [
                        {
                            linkText: 'text'
                        }
                    ]
                },
            ]
        },
        {
            label: 'Партнёрам',
            drop: [
                {

                    links: [
                        {
                            linkText: 'text'
                        }
                    ]
                },
            ]
        },
        {
            label: 'Новости'
        }, {
            label: 'о нас'
        },
    ]
.header-top
    a.header-top__logo(href='/')
        svg.logo(width='140' height='35' viewBox='0 0 140 35' fill='none' xmlns='http://www.w3.org/2000/svg' class=className)
            path(d='M57.5625 27.5591C57.5625 29.3808 56.7234 30.5579 55.0407 31.0848C53.9259 31.4339 52.3576 31.6079 50.3417 31.6079H39.9315C39.2291 31.6079 38.878 31.255 38.878 30.5492V30.2134C38.878 29.5073 39.2291 29.1541 39.9315 29.1541H50.3417C53.1481 29.1541 54.5491 28.6398 54.5491 27.6111V26.1947C54.5491 25.0965 53.1611 24.5476 50.3808 24.5476H46.4058C41.3594 24.5476 38.8379 23.2437 38.8379 20.6421V19.4178C38.8379 17.6782 39.6682 16.4934 41.333 15.8568C42.4006 15.4469 43.9903 15.2422 46.1072 15.2422H47.64C48.3516 15.2422 48.7076 15.5912 48.7076 16.2883V16.6237C48.7076 17.3298 48.3516 17.6831 47.64 17.6831H46.072C43.2562 17.6831 41.8513 18.2543 41.8513 19.392V20.5292C41.8513 21.2438 42.4752 21.7057 43.7182 21.9191C44.2143 22.0026 45.0925 22.0453 46.3534 22.0453H50.3808C52.1727 22.0453 53.6924 22.294 54.9354 22.7863C56.6882 23.4837 57.5621 24.5864 57.5621 26.0944V27.5591H57.5625Z' fill='white')
            path(d='M74.8276 30.938C74.8276 31.3583 74.6184 31.5683 74.2001 31.5683H73.7554C73.3318 31.5683 73.1198 31.3583 73.1198 30.938V26.2114C73.1198 25.617 72.4843 25.3215 71.2117 25.3215H70.0874C68.9529 25.3215 68.3857 25.6925 68.3857 26.4318V30.938C68.3857 31.3583 68.1734 31.5683 67.7505 31.5683H67.3058C66.8822 31.5683 66.6706 31.3583 66.6706 30.938V26.4081C66.6706 25.957 66.5082 25.6509 66.1867 25.4874C65.9618 25.3763 65.5931 25.3215 65.0755 25.3215H63.9515C62.5871 25.3215 61.9047 25.6223 61.9047 26.2271V30.9376C61.9047 31.358 61.6956 31.568 61.2773 31.568H60.8325C60.4142 31.568 60.2051 31.358 60.2051 30.9376V26.4004C60.2051 24.7324 61.442 23.8998 63.9132 23.8998H65.0758C66.017 23.8998 66.8487 24.1178 67.5727 24.5538C68.2994 24.1178 69.1332 23.8998 70.0801 23.8998H71.2593C73.6385 23.8998 74.8283 24.7324 74.8283 26.4004V30.938H74.8276ZM88.2413 29.2647C88.2413 30.8007 87.0807 31.5683 84.7568 31.5683H80.5969C80.1945 31.5683 79.755 31.5138 79.2793 31.4023C77.7367 31.0418 76.966 30.3569 76.966 29.35V28.3696C76.966 27.5737 77.3843 26.9741 78.2209 26.5695C78.8589 26.261 79.6276 26.1051 80.5293 26.1051H86.5423C86.4557 25.5838 85.7895 25.3218 84.542 25.3218H83.2582C82.8427 25.3218 82.6339 25.1143 82.6339 24.6992V24.5311C82.6339 24.1101 82.843 23.9001 83.2607 23.9001H84.1966C86.8923 23.9001 88.2409 24.6863 88.2409 26.2554V29.2647H88.2413ZM86.542 29.35V27.5272H80.4973C80.173 27.5272 79.8255 27.5834 79.4462 27.7005C78.9262 27.8633 78.6649 28.0845 78.6649 28.3622V29.3346C78.6649 29.654 78.9681 29.8797 79.5772 30.0096C79.7864 30.0565 80.1107 30.1029 80.5501 30.1546H84.7719C85.9508 30.1539 86.542 29.8874 86.542 29.35ZM95.2948 24.6988C95.2948 25.1139 95.0832 25.3215 94.6564 25.3215H93.8779C92.6046 25.3215 91.9694 25.6405 91.9694 26.2788V30.938C91.9694 31.3583 91.7596 31.5683 91.342 31.5683H90.874C90.4554 31.5683 90.2462 31.3562 90.2462 30.93L90.2694 26.2788C90.2758 25.4179 90.7008 24.7823 91.548 24.3725C92.1969 24.0584 93.0075 23.9001 93.9768 23.9001H94.6592C95.0828 23.9001 95.2944 24.1101 95.2944 24.5311V24.6988H95.2948ZM97.3571 25.376C96.9342 25.376 96.7222 25.166 96.7222 24.745V24.5846C96.7222 24.1695 96.9342 23.9623 97.3571 23.9623H97.956V22.4498C97.956 22.0347 98.1652 21.8271 98.5831 21.8271H99.0282C99.4465 21.8271 99.656 22.0347 99.656 22.4498V23.9623H102.35C102.774 23.9623 102.986 24.1695 102.986 24.5846V24.745C102.986 25.166 102.774 25.376 102.35 25.376H99.656V30.9376C99.656 31.358 99.4462 31.568 99.0282 31.568H98.5831C98.1648 31.568 97.956 31.358 97.956 30.9376V25.376H97.3571Z' fill='white')
            path(d='M116.795 25.5133C116.795 26.4811 116.306 27.1813 115.326 27.6173C114.609 27.9363 113.697 28.0974 112.583 28.0974H106.372V30.9376C106.372 31.358 106.16 31.5679 105.736 31.5679H105.205C104.787 31.5679 104.578 31.358 104.578 30.9376V22.4498C104.578 22.0347 104.787 21.8271 105.205 21.8271H112.667C113.626 21.8271 114.478 21.9645 115.224 22.237C116.272 22.6234 116.795 23.2097 116.795 24.0011L116.795 25.5133ZM115.018 25.4507V24.123C115.018 23.5602 114.238 23.2799 112.683 23.2799H106.372V26.6362H112.691C113.42 26.6362 113.962 26.5691 114.314 26.4315C114.782 26.2505 115.018 25.9235 115.018 25.4507ZM128.894 22.6496C128.894 23.0696 128.683 23.2799 128.259 23.2799H124.293V30.9376C124.293 31.358 124.084 31.5679 123.666 31.5679H123.135C122.717 31.5679 122.508 31.358 122.508 30.9376V23.2799H118.563C118.139 23.2799 117.927 23.0696 117.927 22.6496V22.4498C117.927 22.0347 118.139 21.8271 118.563 21.8271H128.259C128.683 21.8271 128.894 22.0347 128.894 22.4498V22.6496ZM140 22.6496C140 23.0696 139.788 23.2799 139.365 23.2799H135.398V30.9376C135.398 31.358 135.189 31.5679 134.771 31.5679H134.24C133.822 31.5679 133.613 31.358 133.613 30.9376V23.2799H129.668C129.245 23.2799 129.033 23.0696 129.033 22.6496V22.4498C129.033 22.0347 129.245 21.8271 129.668 21.8271H139.365C139.788 21.8271 140 22.0347 140 22.4498V22.6496Z' fill='white')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M6.67956 9.80762H30.4961C34.17 9.80762 37.1756 13.7747 37.1756 18.6239V26.1831C37.1756 31.0324 34.17 34.9994 30.4961 34.9994H6.67956C3.00563 34.9994 0 31.0324 0 26.1831V18.6239C0 13.7747 3.00563 9.80762 6.67956 9.80762ZM7.55069 11.1573H29.6246C33.0291 11.1573 35.8154 14.6992 35.8154 19.0292V25.7778C35.8154 30.1078 33.0295 33.6497 29.6246 33.6497H7.55069C4.14612 33.6497 1.36021 30.1078 1.36021 25.7778V19.0292C1.36021 14.6992 4.14612 11.1573 7.55069 11.1573Z' fill='white')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M10.4554 15.6572H26.7205C29.23 15.6572 31.2818 17.7822 31.2818 20.38V24.4292C31.2818 27.0273 29.2297 29.153 26.7205 29.153H10.4554C7.94664 29.153 5.89453 27.0273 5.89453 24.4292V20.38C5.89453 17.7819 7.94664 15.6572 10.4554 15.6572ZM11.3273 17.0062H25.8494C28.0888 17.0062 29.9219 18.7068 29.9219 20.7843V24.0242C29.9219 26.1028 28.0888 27.8033 25.8494 27.8033H11.3273C9.08607 27.8033 7.25439 26.1028 7.25439 24.0242V20.7843C7.25439 18.7068 9.08607 17.0062 11.3273 17.0062Z' fill='white')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M9.00229 13.4072H28.172C31.1297 13.4072 33.548 16.2412 33.548 19.704V25.1036C33.548 28.5678 31.1297 31.4011 28.172 31.4011H9.00229C6.04561 31.4011 3.62695 28.5678 3.62695 25.1036V19.7044C3.62695 16.2412 6.04561 13.4072 9.00229 13.4072ZM9.11919 13.5868H28.0561C30.9769 13.5868 33.3667 16.3635 33.3667 19.7582V25.0498C33.3667 28.4445 30.9769 31.2219 28.0561 31.2219H9.11919C6.19772 31.2219 3.80794 28.4445 3.80794 25.0498V19.7582C3.80794 16.3635 6.19772 13.5868 9.11919 13.5868Z' fill='white')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M37.2756 0H50.0558C52.0273 0 53.6399 2.12502 53.6399 4.72313V8.77297C53.6399 11.3704 52.0273 13.4961 50.0558 13.4961H37.2756C35.3048 13.4961 33.6914 11.3707 33.6914 8.77297V4.72313C33.6918 2.12502 35.3048 0 37.2756 0ZM37.7432 0.722899H49.5882C51.4153 0.722899 52.91 2.62047 52.91 4.93975V8.5553C52.91 10.8749 51.4153 12.7725 49.5882 12.7725H37.7432C35.9168 12.7725 34.422 10.8749 34.422 8.5553V4.93975C34.422 2.62082 35.9168 0.722899 37.7432 0.722899Z' fill='white')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M39.301 3.13281H48.0288C49.375 3.13281 50.4764 4.27149 50.4764 5.66348V7.83253C50.4764 9.22452 49.375 10.3629 48.0288 10.3629H39.301C37.9549 10.3629 36.8535 9.22452 36.8535 7.83253V5.66348C36.8535 4.27149 37.9549 3.13281 39.301 3.13281ZM39.7686 3.85571H47.5612C48.7626 3.85571 49.7464 4.76694 49.7464 5.87976V7.61556C49.7464 8.72873 48.7626 9.63961 47.5612 9.63961H39.7686C38.5662 9.63961 37.5834 8.72873 37.5834 7.61556V5.87976C37.5834 4.76728 38.5662 3.85571 39.7686 3.85571Z' fill='white')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M38.5228 1.92773H48.8094C50.3964 1.92773 51.6932 3.44551 51.6932 5.3015V8.19414C51.6932 10.0501 50.396 11.5679 48.8094 11.5679H38.5228C36.9366 11.5679 35.6387 10.0501 35.6387 8.19414V5.3015C35.6387 3.44551 36.9362 1.92773 38.5228 1.92773ZM38.5851 2.02382H48.7467C50.3144 2.02382 51.5964 3.51154 51.5964 5.3298V8.16479C51.5964 9.9834 50.3144 11.4715 48.7467 11.4715H38.5851C37.0175 11.4715 35.7355 9.98375 35.7355 8.16479V5.3298C35.7355 3.51154 37.0175 2.02382 38.5851 2.02382Z' fill='white')

    .header-top__burger
        include ../burger/burder
    .header-top__menu
        +headerMenu(topMenu)
    .header-top__actions
        button.header-top__search
            include ../search/search
        .header-top__language
            include ../languageChainge/languageChainge

