@import "/src/styles/variables";

.header-top {
  height: 74.5px;
  width: 100%;
  border-bottom: 1px solid rgba(210, 221, 227, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px 0 21px;

  &__actions {
    display: none;
  }

  &__menu {
    display: none;
  }

  &__search {
    position: relative;

    flex: 1 1 auto;
  }

  @include minMediaTablet {
    padding: 0 30px 0 33px;
    &__burger {
    }
    &__logo {
      display: none;
    }
    &__actions {
      display: flex;
      flex: 1 1 auto;
    }
    &__language {
      margin-left: 16.12px;
      display: flex;
      align-items: center;
    }
  }
  @include minMediaDesktop {
    padding: 0 32px 0 32px;
    height: 73.5px;

    &__burger {
      display: none;
    }
    &__menu {
      display: block;
    }
    &__language {
      margin-left: 20.12px;
    }
  }
  @include minMediaMaxDesktop {
    padding: 0 45px 0 70px;
    height: 83.5px;

    &__language {
      margin-left: 35.12px;
    }
  }
}

.search {
  z-index: 1;
  display: flex;
  justify-content: flex-end;

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transition: right .3s ease;
  }

  &__input {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    width: 40px;
    height: 40px;
    color: $primaryColor;
    background: rgba(22, 23, 23, 0.4);
    border-radius: 20px;
    padding: 0 37px 0 25px;
    opacity: 0;
    transition: opacity .3s ease, width .3s ease;
    overflow: hidden;
    max-width: 460px;
    &::placeholder {
      opacity: 0.6;
    }

  }

  &._focus {
    .search__input {
      opacity: 1;
      margin-left: 10px;
      width: 100%;
    }
    .search__btn {
      right: 10px;
    }
  }
}
