@import '/src/styles/variables';

.arrow-down {
  display: none;
  position: fixed;
  bottom: 17px;
  justify-content: center;
  width: 100%;
  transition: opacity $transition;

  &__bg, &__circle, path {
    transition: all .3s ease;

  }

  &__btn:hover {
    path {
      animation: arrowDownAnimation 1s linear infinite;
    }
  }

  path {
  }

  &__btn {
    height: 49px;

    svg {
      height: 100%;
    }
  }

  &--white {
    .arrow-down__bg {
      fill: #CFD9DF;
    }

    .arrow-down__circle {
      stroke: #6B7B90;
      opacity: 1;
    }

    path {
      stroke: #6B7B90;
    }
  }

  @media (min-width: $desktopBreakpoint) {
    display: flex;
  }
  @media (min-width: $widthDesktopBreakpoint) {
    height: 66px;
  }
}
@keyframes arrowDownAnimation {
  0% {
    transform: translateY(0);

  }
  50% {
    transform: translateY(-3px);

  }
  100% {
    transform: translateY(0);

  }

}
