.questionnaire.j-questionnaire
    .questionnaire__body
        button.questionnaire__btn-close.j-questionnaire-close-btn
            svg(width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M1.00195 1.91992L19.0006 19.9199' stroke='#6B7B90' stroke-width='2' stroke-linecap='round')
                path(d='M19.002 1.91992L1.00335 19.9199' stroke='#6B7B90' stroke-width='2' stroke-linecap='round')


        .questionnaire__header.questionnaire-header
            h2.questionnaire-header__title Заполните форму
            .questionnaire-header__informations
                p.questionnaire-header__information Для отправки сообщения заполните, пожалуйста, форму ниже.
                p.questionnaire-header__information Все поля формы обязательны для заполнения.
        form.questionnaire__form
            input.questionnaire__input(placeholder='Имя' type='text' required)
            input.questionnaire__input(placeholder='Email' type='e-mail' required)
            input.questionnaire__input(placeholder='Телефон' type='tel' required)
            .questionnaire__input.questionnaire__input--select
                select(name='country')
                    //option(disabled=true selected) Страна
                    option(value='ru') Россия
                    option(value='usa') USA

            input.questionnaire__input(placeholder='Компания' type='text')
            input.questionnaire__input(placeholder='Тема запроса' type='text' required)
            textarea.questionnaire__textarea(placeholder="Сообщение")
            .questionnaire__confirm.confirm
                input.confirm__checkbox(placeholder='Тема запроса' type='checkbox' required)
                p.confirm__text
                    | Я согласен с условиями обработки 
                    a(href='#').confirm__link персональных данных
            img.questionnaire__robot(src='/src/images/image.png')
            button.questionnaire__btn скачать демо
