svg.search-icon(width='30' height='28' viewBox='0 0 30 28' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(opacity='0.6')
        circle(r='7.31349' transform='matrix(0.687989 -0.722971 0.687989 0.722971 13.4392 12.0215)' stroke='white' stroke-width='2' stroke-linecap='round')
        path(d='M18.1504 17.6787L21.985 22.001' stroke='white' stroke-width='2' stroke-linecap='round')
