@import "src/styles/variables";


* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 0;
  min-width: 320px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  font-family: $primaryFont;
}

html, body {

  word-break: break-word;
}

html {
  --height-block: 400px;
}

header {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: block;
}

button {
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;

}

nav, footer, header, aside {
  display: block;
}

input::-ms-clear {
  display: none;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
