//colors
$primaryColor: #fff;
$secondaryColor: #3D4245;

// fonts
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Arial';

// breakpoints
$mobileBreakpoint: 360px;
$tabletBreakpoint: 768px;
$desktopBreakpoint: 1024px;
$widthDesktopBreakpoint: 1920px;

// background
$greenBGGradient: linear-gradient(90deg, #7EC74E 14.94%, #5BA93B 114.37%);
$popupBG: rgba(4, 10, 13, 0.6);
$maxWith: 1467px;

//
$transition: 0.3s ease;

