//colors
$primaryColor : #fff;
$secondaryColor : #3D4245;

// fonts
$primaryFont : 'font-name';
$secondaryFont : 'Arial';

// breakpoints
$mobileBreakpoint : 360px;
$tabletBreakpoint : 768px;
$desctopBreakpoint : 1024px;
$widthDesctopBreakpoint : 1920px;

// background
$greenBGGradient: linear-gradient(90deg, #7EC74E 14.94%, #5BA93B 114.37%);
