.alert-subscription.j-alert.j-alert-subscription
    .alert-subscription__body
        button.alert-subscription__btn-close.j-close-alert-btn
            svg(width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M1.00195 1.91992L19.0006 19.9199' stroke='#6B7B90' stroke-width='2' stroke-linecap='round')
                path(d='M19.002 1.91992L1.00335 19.9199' stroke='#6B7B90' stroke-width='2' stroke-linecap='round')
        .alert-subscription__title Заявка на подписку отправлена!
        .alert-subscription__text  Теперь вы будете в курсе наших актуальных новостей и релизов
        button.alert-subscription__btn.j-close-alert-btn закрыть
