@import '/src/styles/variables';

.about-swiper {
  overflow: hidden;

  &__content {
    display: flex;
    align-items: center;
    padding: 0 3px;
  }

  &__item {
    flex: 1 0 35.5%;
  }

  &__img {
    object-fit: cover;
  }

  &__pagination {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  @include minMediaTablet {
    &__pagination {
      display: none !important;
    }
    &__item {
      flex: 1 0 21.5%;
    }
  }
  @include minMediaDesktop {
    padding: 0 20px;
    &__img {
      height: 28px;
    }
    &__item {
      flex: 1 0 17%;
    }
  }
  @include minMediaMaxDesktop {
    &__img {
      height: 48px;
    }
    &__item {
      flex: 0 0 13%;
    }
  }
}

.pagination {

}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #C4D0D6;
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 16px;
  }

  &-active {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: '';
      border-radius: 50%;
      height: 6px;
      width: 6px;
      background: #0095DA;
    }
  }
}
