@import "/src/styles/variables";

.header-bottom {
  display: none;

  &__menu {
    display: none;
  }

  &__btn {
    width: 173px;
  }

  @include minMediaTablet {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: $maxWith;
    margin: 0 auto;
    padding: 0 31px;

  }
  @include minMediaDesktop {
    padding: 0 29px;
    &__menu {
      display: block;margin-bottom: 2px;
    }
    &__btn {
      width: 136px;
      margin-bottom: -10px;
    }
  }
  @include minMediaMaxDesktop {
    &__menu{
      margin-left: 53px;
      margin-bottom: -3px;
    }
    &__btn {
      width: 175px;
      margin-bottom: -1px;
    }
  }
}
