@import 'swiperAbout/style';
@import '/src/styles/variables';

.about {
  padding: 41px 13px 36px 20px;
  background-image: url('/src/images/about/bg.png');
  -webkit-background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  &__title-block {
    margin-bottom: 18px;
  }

  &__img-container {
    perspective-origin: center;
    margin: 0 0 0 -35px;
    perspective: 900px;
    height: 67vw;
  }

  &__img {
    transform-origin: right bottom;
    transform: rotateY(-20deg) rotate(1deg);
    box-shadow: 30px 30px 40px rgb(123 153 188 / 25%), 5px 5px 20px rgb(123 148 176 / 20%);
    max-width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 7px;
  }

  &__content {
    padding-right: 8px;
  }

  &__paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    color: $secondaryColor;
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__more-btn {
    margin-top: 22px;
  }

  &__swiper {
    margin-top: 42px;
  }

  @media(min-width: $tabletBreakpoint) {
    padding: 41px 14px 64px 33px;
    &__img-container {
      margin: 0px 94px 0px -65px;
      height: auto;
    }
    &__title-block {
      margin-top: 57px;
      padding-right: 45px;
    }

    &__paragraph {
      font-size: 16px;
      line-height: 28px;
    }

    &__content {
      padding-right: 31px;
      margin-top: 20px;
    }
    &__more-btn {
      margin-top: 27px;
    }
    &__swiper {
      margin-top: 62px;
    }
  }
  @media(min-width: $desktopBreakpoint) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 164px 14px 100px 30px;
    &._active {
      .about__img-container {
        animation: AboutAnimation 1s ease;

      }
    }

    &__container {
      max-width: 1420px;
      display: flex;
      flex: 1 0 auto;
      align-items: center;
      margin: 0 auto;
    }

    &__img-container {
      order: 2;
      padding: 0;
      margin: 75px 28px 0px -70px;
    }

    &__info {
      flex: 1 0 50%;
    }

    &__content {
      margin-left: 3px;
      padding-right: 42px;
      margin-top: 20px;

    }

    &__more-btn {
      margin-top: 36px;
    }

    &__paragraph {

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  @media (min-width: $widthDesktopBreakpoint) {
    padding: 213px 0px 122px 17px;
    &__paragraph {
      font-size: 20px;
      line-height: 35px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    &__info {
      flex: 0 0 41%;
    }
    &__swiper {
      max-width: 1605px;
      margin: 0 auto;
      width: 100%;
    }
    &__img-container {
      margin: 28px -14px 0 17px;
      perspective: 4000px;
    }
  }

}


@keyframes AboutAnimation {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);

  }
}
