.language
    button.language__button
        .language__img
            img(src='/src/images/languageChange/ru.svg')
        .language__label rus
        .language__arrow
            include  components/arrow/arrow
    .language__list
        .language__list-body
            .language__item
                .language__item-logo
                    img(src='/src/images/languageChange/ru.svg')
                .language__item-label eng
            .language__item
                .language__item-logo
                    img(src='/src/images/languageChange/ru.svg')
                .language__item-label ani-thing
