@import "/src/styles/variables";

.page-pagination {
  display: none;
  @media (min-width: $desktopBreakpoint) {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__item {
      width: 10px;
      height: 10px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 50%;

      margin-bottom: 13px;
      transition: all .3s ease;

      &:after {
        content: '';
        width: 6px;
        height: 6px;
        background: #FFFFFF;
        border-radius: 50%;
        margin: auto;
        transition: all .5s ease;
        opacity: 0;
      }

      &._active {
        width: 14px;
        height: 14px;
        display: flex;

        &:after {
          opacity: 1;
        }
      }
    }

    &__count {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;

      color: #FFFFFF;
      transition: all .3s ease;
    }
    &._dark {
      .page-pagination__item {
        border: 1px solid rgba(196, 208, 214, 0.4);

        &._active {
          &:after {
            background: #0095DA;
          }
        }
      }

      .page-pagination__count {

        color: #909BA1;
      }
    }
  }

}
