@import "components/burger/style";
@import "components/headerTop/style";
@import "components/headerMenu/style";
@import "components/headerBottom/style";
@import "components/search/style";
@import "components/logo/style";
@import "/src/styles/variables";

.header {
  position: absolute;
  z-index: 20;
  width: 100%;
  color: $primaryColor;
  transition: color .3s ease;

  path {
    fill: $primaryColor;
    transition: fill .3s ease;
  }

  circle, path {
    transition: stroke .3s ease, fill .3s ease;
  }

  &--black-text {
    color: $secondaryColor;

    path {
      fill: $secondaryColor;
      stroke: $secondaryColor;
    }

    circle {
      stroke: $secondaryColor
    }

  }

  &__bottom {
    padding-top: 32.8px;
  }

  @include minMediaTablet {
    &__bottom {
      padding-top: 28.8px;
    }
  }
  @include minMediaDesktop {
    position: fixed;
    &__bottom {
      padding-top: 43.8px;
    }
  }
  @include minMediaMaxDesktop {
    &__bottom {
      padding-top: 50.8px;
    }
  }
}
