@import "/src/styles/variables";

.title-block {
  &__title-top {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #909BA1;
    margin-bottom: 4px;
    overflow: hidden;
  }

  &__title-bottom {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: $secondaryColor;
    overflow: hidden;
  }

  @media (min-width: $tabletBreakpoint) {
    &__title-top {
      font-size: 13px;
      line-height: 20px;
      color: #909BA1;
      margin-bottom: 8px;
    }
    &__title-bottom {
      font-size: 36px;
      line-height: 46px;

    }
  }
  @media(min-width: $desktopBreakpoint) {
    &__title-top {
      margin-bottom: 3px;
    }
    &__title-bottom {
      transition: color .3s ease;
      &:hover {
        color: #0095DA;
      }
    }
  }
  @media (min-width: $widthDesktopBreakpoint) {
    &__title-top {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 21px;
    }
    &__title-bottom {
      font-size: 44px;
      line-height: 52px;
    }
  }
}
