@import "/src/styles/variables";

.burger {
  position: relative;
  width: 33px;
  height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 3px;

  &:after {
    position: absolute;
    left: 0;
    top: 0;
  }

  &:before {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &:after, &:before {
    content: '';
    transition: transform .3s ease;
  }

  div, &:after, &:before {
    border-bottom: 2px solid #FFFFFF;
    width: 100%;
  }

  @media (min-width: $tabletBreakpoint) {
    width: 31px;
    margin-bottom: 0;

  }

  &._active {
    &:before {
      transform: translateY(-11px) rotate(135deg);
    }

    &:after {
      transform: translateY(6px) rotate(-135deg);
    }

    div {
      transform: scale(0)
    }
  }
}
