mixin mainCard(title, text)
    .main-card
        img.main-card__img(src='/src/images/mainBlockimg/bg.jpg')
        .main-card__body
            h2.main-card__title=title
            .main-card__text=text

