@import "src/styles/variables";

.main-card {
  height: 100%;
  position: relative;
  background: linear-gradient(89.61deg, rgba(3, 20, 28, 0.79) 14.05%, rgba(3, 20, 28, 0.2) 60.85%), linear-gradient(180deg, rgba(11, 11, 11, 0.56) 0%, rgba(72, 70, 70, 0) 30.58%), linear-gradient(0deg, rgba(3, 20, 28, 0.2), rgba(3, 20, 28, 0.2));

  &__body {
    padding: calc(4.25rem + 74.5px) 2.1rem 0;
    max-width: $maxWith;
    margin: 0 auto;
    width: 100%;
  }

  &__img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: -14rem;
    z-index: -1;
    @media (min-width: 110rem) {
      width: 100%;
      right: 0;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.2rem;
    color: $primaryColor;
    margin-bottom: 1.1rem;
    max-height: 8.4rem;
    overflow: hidden;
  }

  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: $primaryColor;
    max-height: 8.4rem;
    overflow: hidden;
  }

  @include minMediaTablet {
    &__body {
      padding: 25rem 14.6rem 0 2.9rem;
    }

    &__title {
      font-size: 5.8rem;
      line-height: 6.8rem;
      margin-bottom: 1.8rem;
      width: 55.6rem;
      max-height: 13.6rem;

    }

    &__text {
      font-size: 2rem;
      line-height: 3rem;
      margin-left: .1rem;

      max-height: 6.4rem;

    }
  }
  @include minMediaTablet {
    &__title {
      margin-bottom: 1.5rem;
      width: 100%;
    }
  }

  @include minMediaDesktop {
    &__body {
      padding: 305px 146px 0 29px;
    }
    &__title {
      font-size: 5.8rem;
      line-height: 6.8rem;
      margin-bottom: 1.5rem;
      max-height: 6.8rem;

    }

    &__text {
      font-size: 2rem;
      line-height: 3rem;
      max-height: 3.5rem;


    }
  }
  @include minMediaMaxDesktop {
    &__body {
      padding: 395px 146px 0 29px;
    }
    &__title {
      font-size: 7.6rem;
      line-height: 8.9rem;
      margin-bottom: 2.5rem;
      max-height: 8.9rem;

    }
    &__text {
      font-size: 2.6rem;
      line-height: 4rem;
    }
  }
}
