.language
    button.language__button

        .language__img
            include components/flags/ru
        .language__label rus
        .language__arrow
            include  components/arrow/arrow


    .language__list
        .language__list-body
            .language__item
                .language__item-logo
                    img(src='/src/components/haeder/components/languageChainge/img/ru.svg')
                .language__item-label eng

            .language__item
                .language__item-logo
                    img(src='/src/components/haeder/components/languageChainge/img/lang002.svg')
                .language__item-label
