@import "/src/styles/variables";

.logo {


  @include minMediaTablet {
    width: 238px;
    height: 60px;
  }
  @include minMediaDesktop {
    width: 155px;
    height: 39px;
  }
  @include minMediaMaxDesktop {
    width: 301px;
    height: 75px;
  }
  &._hidden{
    display: none;
  }
}
