@import "/src/styles/variables";

.logo {


  @media (min-width: $tabletBreakpoint) {
    width: 238px;
    height: 60px;
  }
  @media (min-width: $desktopBreakpoint) {
    width: 155px;
    height: 39px;
  }
  @media (min-width: $widthDesktopBreakpoint) {
    width: 301px;
    height: 75px;
  }
  &._hidden{
    display: none;
  }
}
