-
  let chooseItems =[
      {icon:'/src/images/choose/choose001.svg', text: 'Гибко настраиваемый пользовательский интерфейс'},
      {icon:'/src/images/choose/choose002.svg', text: 'Многоуровневая диспетчеризация в соответствии со структурой предприятия'},
      {icon:'/src/images/choose/choose003.svg', text: 'Многоуровневая диспетчеризация в соответствии со структурой предприятия'},
      {icon:'/src/images/choose/choose004.svg', text: 'Запись разговоров и событий, двойное резервирование данных'},
      {icon:'/src/images/choose/choose005.svg', text: 'Объединение разнородных сетей связи предприятия в единую коммуникационную систему'},
      {icon:'/src/images/choose/choose006.svg', text: 'Объединение разнородных сетей связи предприятия в единую коммуникационную систему'},
  ]
.choose-swiper
    .choose-swiper__content
        each item in chooseItems
            .choose-swiper__item.choose-item
                img.choose-item__icon(src=item.icon alt='')
                .choose-item__text=item.text
    .choose-swiper__pagination
        .choose-swiper__pagination
            include ../../pagination/paginatino


