footer.footer
    .footer__container
        .footer__cards
            .footer__card.footer-card.footer-card--blue
                .footer-card__suptitle ПРОБУЙТЕ
                .footer-card__title Бесплатная демо-версия SmartPTT
                button.footer-card__btn Скачать Демо
            .footer__card.footer-card.footer-card--green
                .footer-card__suptitle спрашивайте
                .footer-card__title Мы ответим на все ваши вопросы
                button.footer-card__btn связаться
        .footer__info.footer-info
            .footer-info__partners.partners
                img.partners__img(src='/src/images/footer/partners/partners001.svg')
                img.partners__img(src='/src/images/footer/partners/partners002.svg')
            p.footer-info__text
                |Просматривая данный сайт, вы даете согласие на использование файлов cookie, помогающих нам сделать его удобнее для вас. 
                a.footer-info__link(src='#') Подробнее
            .footer-info__connection.connection
                a.connection__mail(href="mailto:info@smartptt.com") info@smartptt.com 
                a.connection__tel(href="tel:73822522511") +7 3822 522 511
            ul.footer-info__socials.social
                li.social__item
                    img.social__item(src='/src/images/footer/social/social002.svg')
                li.social__item
                    img.social__item(src='/src/images/footer/social/social003.svg')
                li.social__item
                    img.social__item(src='/src/images/footer/social/social001.svg')
                li.social__item
                    img.social__item(src='/src/images/footer/social/social004.svg')
        .footer__copy.footer-copy
            .footer-copy__first
                p.footer-copy__first-text © ООО «Элком+», 2008-2018.
                p.footer-copy__first-text Все права защищены.
            .footer-copy__second
                p Разработка сайта: 
                .footer-copy__icon
                p  Красная рамка
