.projects-btn
    button.projects-btn__item.projects-btn__item--left.j-swiper-button-prev
        svg(width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M13.668 5L2.33464 5' stroke='#0095DA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            path(d='M5.00195 9L1.00195 5L5.00195 1' stroke='#0095DA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
    button.projects-btn__item.projects-btn__item--right.j-swiper-button-next
        svg(width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M1.33203 5L12.6654 5' stroke='#0095DA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            path(d='M9.99805 9L13.998 5L9.99805 1' stroke='#0095DA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

