@import '/src/styles/variables';

.projects-btn {
  display: none;
  @media (min-width: $tabletBreakpoint) {
    display: flex;

    &__item {
      width: 40px;
      height: 40px;
      background: #FFFFFF;
      box-shadow: 0px 2px 8px rgba(196, 210, 216, 0.55);
      transform: matrix(0, -1, -1, 0, 0, 0);
      display: flex;
      border-radius: 50%;

      &:not(:last-child) {
        margin-right: 8px;
      }

      svg {
        margin: auto;
        transform: rotate(-90deg);

      }
    }
  }
  @media (min-width: $desktopBreakpoint) {
    &__item {
      width: 36px;
      height: 36px;
      &:not(:last-child) {
        margin-right: 5px;
      }

    }
  }

}
