@import '/src/styles/variables';

.projects-btn {
  display: none;
  @media (min-width: $tabletBreakpoint) {
    display: flex;

    &__item {
      width: 40px;
      height: 40px;
      background: #FFFFFF;
      box-shadow: 0px 2px 8px rgba(196, 210, 216, 0.55);
      display: flex;
      border-radius: 50%;
      transition: transform .3s ease;

      &:not(:last-child) {
        margin-right: 8px;
      }
      &:hover {
        transform: translateY(-5px) ;
      }
      svg {
        margin: auto;

      }
    }
  }
  @media (min-width: $desktopBreakpoint) {
    &__item {
      width: 36px;
      height: 36px;

      &:not(:last-child) {
        margin-right: 5px;
      }

    }
  }

}
