@import '/src/styles/variables';

.news {
  &__title {
    margin-bottom: -5px;
  }

  &__container {
    padding: 36px 21px 60px;

  }

  &__cards {
    display: grid;
    gap: 21px;
  }

  &__card-item {
    background: $primaryColor;
    box-shadow: 0px 8px 25px rgba(196, 210, 216, 0.55);
    border-radius: 5px;
  }

  &__title {
    margin-bottom: 10px;
  }

  @include minMediaTablet {
    &__container {
      padding: 36px 30px 63px;
    }

    &__title {
      margin-bottom: 14px;
    }
    &__cards {
      gap: 27px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }

  }
  @include minMediaDesktop {
    &__container {
      padding: 0 30px 0 0;
    }
    &__cards {
      display: grid;
      gap: 20px;
      grid-template-rows: 196px 125px;
      margin-top: 0px;
    }
  }
  @include minMediaMaxDesktop {
    &__cards {
      gap: 31px;
      grid-template-rows: 66.5% 166px;
      margin-top: 23px;
    }
  }
}

.news-card-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 42px 152px;
  padding: 13px 16px 21px 21px;
  &:nth-child(2) {
    grid-template-rows: 42px 138px;
    padding: 13px 16px 25px 20px;
  }

  &__label {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    padding-top: 9px;
  }

  &__date {
    margin-left: -2px;
  }

  &__text {
    grid-column: 1/ 3;
    display: flex;
    align-items: flex-end;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: $secondaryColor;
    max-height: 100%;
    overflow: hidden;
    margin-top: 5px;
  }

  @include minMediaTablet {
    &, &:nth-child(2) {
      padding: 21px 27px 27px 31px;
      grid-template-rows: 42px 174px;
    }

    &__text {
      font-size: 20px;
      line-height: 30px;
    }
    &__date {
      margin-left: -7px;
    }
  }
  @include minMediaDesktop {
    transition: transform .3s ease, margin .3s ease;
    animation-fill-mode: forwards !important;
    transform: translateX(-100px);
    opacity: 0;
    &:nth-child(1) {
      animation-delay: 0.3s !important;
    }
    &:nth-child(2) {
      animation-delay: 0.6s !important;
    }
    &:hover {
      margin: -10px 0 10px;
    }
    &, &:nth-child(2) {
      grid-template-rows: 28px auto;
      padding: 17px 15px 18px 14px;
    }
    &__text {
      font-size: 16px;
      line-height: 24px;
    }
    &__date {
      margin-left: -2px;
    }
    &__label {
      padding-top: 4px;
    }
  }
  @include minMediaMaxDesktop {
    &, &:nth-child(2) {
      padding: 35px 26px 34px 25px;
    }

    &__text {
      font-size: 20px;
      line-height: 30px;
    }
    &__date {
      margin-left: -2px;
    }
    &__label {
      padding-top: 4px;
    }

  }
}

//________________date_____________

.news-date {
  color: $secondaryColor;
  display: flex;
  align-items: center;
  padding-top: 9px;

  &__left-block {

  }

  &__day {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 51px;
    margin-right: 5px;
  }

  &__month {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    padding-top: 1px;
  }

  &__year {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
  }

  @include minMediaTablet {


    &__day {
      font-size: 40px;
      line-height: 56px;
    }

    &__month {
      font-size: 14px;
      line-height: 20px;
    }

    &__year {
      font-size: 12px;
      line-height: 17px;
    }
  }
  @include minMediaDesktop {
    &__day {
      font-size: 30px;
      line-height: 42px;
    }

    &__month {
      font-size: 12px;
      line-height: 17px;
    }

    &__year {
      font-size: 12px;
      line-height: 17px;
    }
  }
  @include minMediaMaxDesktop {
    &__day {
      font-size: 40px;
      line-height: 56px;
    }

    &__month {
      font-size: 14px;
      line-height: 20px;
    }


  }
}

.news-label {
  &__icon {
    margin-right: 3px;
    width: 18px;
    height: 18px;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #858F94;
    max-height: 40px;

    overflow: hidden;
  }

  @include minMediaDesktop {
    &__title {
      max-height: 40px;
    }

  }

  @include minMediaMaxDesktop {
    &__title {
      max-height: 19px;
    }
    &__icon {
      width: 24px;
      height: 24px;
      margin-right: 11px;
    }
  }

}

//___________________________________form____________________________________
.news-card-form {
  &__body {
    padding: 27px 20px 25px 24px;
    margin-top: 15px;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: $secondaryColor;
    margin-bottom: 15px;
  }

  &__input {
    background: $primaryColor;
    border: 1px solid #CFD9DF;
    border-radius: 5px;
    padding: 8px 17px;
    font-size: 14px;
    line-height: 25px;
    color: #6B7B90;
    width: 100%;
    margin-bottom: 19px;

    &:active, &:hover, &:focus {
      outline: 0;
      outline-offset: 0;
    }

    &::placeholder {
      opacity: 0.8;
    }
  }

  &__btn {
    background: $greenBGGradient;
    border-radius: 3px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $primaryColor;
    width: 100%;
    padding: 13px;
    margin-bottom: 24px;

  }


  @include minMediaTablet {
    grid-column: 1/3;
    &__body {

      padding: 27px 37px 22px 32px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 4px;
    }

    &__title {
      font-size: 24px;
      line-height: 34px;
      flex: 0 1 46%;
      order: 1;
      margin-bottom: 5px;
    }
    &__input {
      margin-top: 3px;
      height: 44px;
      flex: 0 1 47%;
      order: 2;
      margin-bottom: 0;
    }
    &__footer {
      flex: 0 1 47%;
      order: 3;
    }

    &__btn {
      flex: 0 1 47%;
      order: 4;
      margin-bottom: 9px;
      margin-top: -9px;
    }
  }
  @include minMediaDesktop {
    &__body {
      padding: 16px 19px 19px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 0;
    }

    &__title {
      font-size: 17px;
      line-height: 24px;
      margin-bottom: 0px;
      flex: 0 0 44%;
    }
    &__input {
      margin-top: 3px;
      height: 38px;
      flex: 0 1 48.4%;
      order: 2;
      margin-bottom: 0;
      font-size: 13px;
      line-height: 23px;
      padding: 8px 13px;
    }
    &__footer {
      flex: 0 1 47%;
      order: 3;
      height: 38px;
      margin-top: 6px;
    }

    &__btn {
      flex: 0 1 48.4%;
      order: 4;
      font-size: 13px;
      line-height: 15px;
      margin-top: 3px;
      height: 38px;
    }
  }
  @include minMediaMaxDesktop {
    &__body {
      padding: 23px 24px 23px;
    }
    &__title {
      font-size: 26px;
      line-height: 37px;
    }
    &__input {
      height: 44px;
      flex: 0 0 42.4%;
    }
    &__btn {
      flex: 0 0 42.4%;
      margin-top: -7px;
      height: 44px;
    }
    &__footer {
      flex: 0 0 50%;
    }
  }
}

.news-form-footer {
  display: flex;
  align-items: flex-start;

  &__check {
    appearance: none;
    margin: 2px 10px 0 0;
    width: 15px;
    height: 15px;
    background: $primaryColor;
    border: 1px solid #CFD9DF;
    border-radius: 2px;
    flex: 0 0 15px;
    position: relative;


    &:after {
      position: absolute;
      left: 2px;
      top: -1px;
      content: url("/src/images/news/icons/check.svg");
      opacity: 0;
      transition: opacity 0.2s;
      margin: auto;
    }

    &:checked {

      &:after {
        opacity: 1;
      }
    }
  }


  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;

    color: $secondaryColor;
  }

  &__link {
    color: #0095DA;
  }

  @include minMediaTablet {
    &__check {
      margin: 2px 13px 0px 2px;
    }
    &__title {
      line-height: 21px;
    }
  }
  @include minMediaDesktop {

    &__title {
      font-size: 12px;
      line-height: 18px;
    }
    &__check {
      margin: 4px 8px 0px 0px;
    }
  }
  @include minMediaMaxDesktop {

    &__info {
      margin-top: 5px;
    }
  }
}
